[Desktop Entry]
Name=vokusz
Comment=Chat client for accordserver instances
Exec=vokusz %u
Icon=vokusz
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
Keywords=chat;messaging;discord;
StartupWMClass=vokusz
MimeType=x-scheme-handler/vokusz;
